.dashboard-cards {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(220px, 1fr));

  gap: 20px;
}

.candidate-section {
  margin-top: 60px;
}

.candidate-section h2 {
  margin-bottom: 20px;
}